/*.history, .function{
    border: 2px solid black; 
}
*/

html{
    cursor: none;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: white;
}


.outer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2.5vw solid black; /*边框样式 */
    box-sizing: border-box;
    padding: 15px;  /*与边框宽度相同的内部间距 */
    z-index: -2;
} 

canvas {
    width: 100vw;   /* 设置宽度为视口宽度的100% */
    height: 100vh;  /* 设置高度为视口高度的100% */
    position: fixed; /* 使canvas定位于固定位置 */
    top: 0;
    left: 0;
    z-index: -1;
}



/*#brush {
    text-align: center;
    line-height: 50px;
}*/

h1{
    position: absolute;
    top:180px;
    left:1280px;
    font-size: 90px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
    font-style: italic;
}

h2{
    position: absolute;
    top:730px;
    left:270px;
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
    font-weight:300;
    letter-spacing: 0.5px;
}
.box {
    position: absolute;
    padding-top: 10px;
  }

.bucket {
    position: absolute;
    top:80px;
    left:100px;
    width:100px;
}

.first{
    position: absolute;
    top:90px;
    left:365px;
    width:81px;
}

.win2000{
    position: absolute;
    top:160px;
    left:613px;
    width:197px;
}

.ew{
    position: absolute;
    top:100px;
    left:844px;
    width:70px;
}

.text{
    position: absolute;
    top:330px;
    left:928px;
    width:65px;
}

.macosnew{
    position: absolute;
    top:95px;
    left:1130px;
    width:90px;
}

.pointer{
    position: absolute;
    top:50px;
    left:1460px;
    width:204px;
}

.ns{
    position: absolute;
    top:330px;
    left:91px;
    width:60px;
}

.macos1{
    position: absolute;
    top:400px;
    left:341px;
    width:35px;
}

.win3{
    position: absolute;
    top:455px;
    left:102px;
    width:85px;
}

.brush{
    position: absolute;
    top: 770px;
    left:80px;
    width:100px;
}

.win7{
    position: absolute;
    top: 480px;
    left:553px;
    width:40px;
}

.win10{
    position: absolute;
    top:630px;
    left: 665px;
    width:40px;
}


.win95{
    position: absolute;
    top:730px;
    left:800px;
    width: 86px;
}

.nwse{
    position: absolute;
    top:730px;
    left:1180px;
    width: 60px;
}

.nesw{
    position: absolute;
    top:600px;
    left:290px;
    width: 70px;
}

.hourglass{
    position: absolute;
    top:480px;
    left:1080px;
    width: 90px;
}

.xerox{
    position: absolute;
    top:480px;
    left:1290px;
    width: 180px;
}

.macos103{
    position: absolute;
    top:470px;
    left:781px;
    width: 80px;
}

.move{
    position: absolute;
    top:518px;
    left:1520px;
    width: 60px;
}

.help{
    position: absolute;
    top:800px;
    left:1300px;
    width: 70px;
}

.loading{
    position: absolute;
    top:330px;
    left:1120px;
    width: 80px;
}

.rotate{
    position: absolute;
    top:800px;
    left:1540px;
    width: 90px;
}

.screenshot{
    position: absolute;
    top:630px;
    left:960px;
    width: 76px;
}

.footer {
    position: absolute;
    bottom: 0.6vw;
    width: 100%;
    text-align: center;
    font-size: 10pt;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.footer a:hover {
    cursor:none;
    text-decoration: underline;
}

ul,
li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}


#loop-show-box {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    top: 0.5vw; /* 顶部对齐到父元素的上边缘 */
   font-size: 12pt;
  }

.li-style {
  width: 100%;
  height: 25px;
  text-align: center;
}


/* 默认情况下隐藏该消息 */
.desktop-only-message {
    display: none;
    text-align: center; 
    padding: 20px;
    font-size: 24px;
    color: black;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-top: 20px;
}

/* 当屏幕宽度小于600像素时显示该消息 */
@media screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 100vh; /* 视口高度 */
        margin: 0; /* 移除默认的 margin */
    }

    /* 显示消息框，并设置其样式 */
    .desktop-only-message {
        display: flex;
        justify-content: center; /* 水平居中内容 */
        align-items: center; /* 垂直居中内容 */
        text-align: center;
        padding: 20px;
        font-size: 18px;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        width: 80%; /* 消息框宽度 */
        max-width: 400px; /* 最大宽度限制 */
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* 可选的阴影效果 */
    }

    /* 隐藏页面的其他部分 */
    .container, .outer, #loop-show-box, #userNameDisplay, canvas, #text-cursor {
        display: none;
    }
}


@media screen {
    #userNameDisplay {
        display: none;
    }
}

@media print {
    
    @page {
        size: 11in 17in landscape;
        margin: 10mm;
      }

    .outer {
        display:none;
    }

    #loop-show-box{
        display:none;
    }
    
    #userNameDisplay {
        display: block;
        position: absolute;
        bottom: 30px;
        left: 50px;
        font-size: 16px;
        font-family: 'Fira Sans', sans-serif;
        text-align: center;
    }
}

/*@page {
    margin: 1.5cm !important;
  }
*/


